


.container-fluid{
	padding-left: 0;
	padding-right: 0;
	
	
}

.row{
	margin-left: 0;
	margin-right: 0;
}

.quitaPadding{
	padding-left: 0;
	padding-right: 0;
}

header nav{
	background-image: linear-gradient(to right, #0b839c, white);
	font-family: oswald;
	font-size: 20px;
}




.navbarNav{
	justify-content: flex-end;
	margin-right: 70px;
}

.logoCompleto{
	width: 200px;
	margin-left: 20px;
	display: inline;
}

.parallax{
padding-top: 120px;

	 /* The image used */

  background-image: url("../assets/img/Estudio.jpg");

  /* Set a specific height */

  height: 300px;

  /* Create the parallax scrolling effect */

  background-attachment: fixed;

  background-position: center;

  background-repeat: no-repeat;

  background-size: cover;

}

.parallax1{
padding-top: 100px;


	 /* The image used */

  background-image: url("../assets/img/study.jpg");

  /* Set a specific height */

  height: 700px;

  /* Create the parallax scrolling effect */

  background-attachment: fixed;

  background-position: center;

  background-repeat: no-repeat;

  background-size: cover;

}

.tituloParallax{
	font-family: oswald;
	text-align: center;
	font-size: 50px;
	color: #fff;
	background-color: rgba(50,200,255,0.8);
}


.tituloCreemos{
	
	font-size: 35px;
	background-color: #d6d6d6;
	margin-top: 120px;
	margin-bottom: 40px;
	padding: 10px 0px;
	text-align: center;
	font-family: montserrat;
}
.creemosEn{
	font-family: spartan;
	font-size: 28px;
	text-align: center;
	margin: auto;


}

.creemosEn h3{
	margin-top: 50px;
}
.creemos__p{
	font-family: spartan;
	font-size: 28px;
	text-align: center;
	margin: auto;
	font-weight: 800;
	padding: 0 60px;

}





.paraQueTitulo{
	text-align: center;
	background-color: #0b839c;
	color: #fff;
	padding: 10px 0px;
	margin-top: 120px;
	margin-bottom: 30px;
	width: 100%;
	font-size: 35px;
	font-family: montserrat;

}

.paraQueSubtitulo{
	text-align: center;
	padding: 0 20px;
	font-family: montserrat;
	font-weight: 1000;
}
.paraQueP{
	text-align: center;
	font-family: montserrat;
	font-size: 20px;
	padding: 0 30px;
	font-weight: 300;
}

.spanP{
	font-size: 22px;
	color: #2f1a3b;
	font-weight: 500;
	font-family: overpass;
}
.iconosCoaching{
	font-size: 70px;
	text-align: center;
	color: #2f1a3b;
}


.carousel__fondo{
	position: absolute;
	width: 100%;
	margin-top: -30px;
}

.conoceFlex{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.conoceP{
	font-family: monsterrat;
	font-size: 30px;
	color: white;
	text-align: center;
}
.tamanoCarousel{
	width: 450px;
	margin: auto;
	align-items: center;
}


.conoce{
	font-family: montserrat;
	font-weight: 1000;
	font-size: 28px;
	text-align: center;
	color: white;
	background-color: #0b839c;
	padding: 6px 0px;

}

.botonConoce{
	background-color: #2f1a3b;
	border: 2px solid white;
	font-family: montserrat;
	font-weight: 1000;
	font-size: 20px;
	width:80px;
	border-radius: 100px;
	transition-duration: 0.5s;
}

.botonConoce:hover{
 	background-color: #7bbad4;
 	border: 2px solid black;
 	color: black;

}

.tituloMision{
	margin: 0;
	padding: 10px;
	margin: 30px 0;
}
.fondoMision{
	margin: 0;
}


.liMision{
	font-size: 22px;
	font-weight: 500;
	padding: 50px 10px;
}

.liSpan{
	font-size: 28px;
	color: #2f1a3b;
	font-weight: 700;
	font-family: overpass;
}

.programasAval{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.avales{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.imgAvales{
	width: 350px;
	align-items: center;
	margin: 20px 20px;

}

footer{
	background-image: linear-gradient(#1e0d3d, black);
	margin-top: 100px;

}

.container__footer{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}


.copy{
	color: #9e9e9e;
	width: 250px;
}

.linkCopy{
	color:#9486ad ;
	text-align: center;
}

.linkCopy:hover{
	text-decoration: none;
	color: white;
	transition-duration: 1s;

}

.diseñoP{
	color: #595169;
	width: 250px;
	text-align: center;
	font-size: 12px;


}

h5{
	color: white;
}

h6{
	color: white;
}

.logo__footer{
	width: 200px;
}

.footerInfo{
	width: 200px;
}
.iconos{
	display: flex;
	justify-content: space-evenly;
	width: 200px;
}

.iconosFooter{
	color: #0b839c;
	font-size: 25px;
	width: 80px;
	transition-duration: 1s;
}

.iconosFooter:hover {
	color: #74cadb;
}

.tituloPaginas{
	background-color: rgba(50,200,255,0.2);
	padding: 5px 30px;
	color:#1e0d3d;
	font-weight: 100;
	font-size: 35px;

}

/* Página CURSOS */
.formacionCoaching{
	background-color: lightgray;

}
.carta{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 10px 0;

}
.carta__cuerpo{
	background-color:#e7f9fd;
	
}

.carta__titulo{
	font-family: montserrat;
	color: black;
	font-weight: 1000;
}

.carta__p{
	font-family: montserrat;
	font-weight: 600;
}

.carta__texto{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-items: center;
	margin: auto;

}
.carta__boton{
	background-color: #1e0d3d;
	border: none;
}
.carta__boton:hover{
	background-color:#0b839c ;
}

/* Página CONTACTO */
.contact{
	margin: 30px;
	background-color: #f0f0f0;
	padding: 10px;
	
}

.contact__img{
	width:350px;
	
}
.contact__boton{
	margin: 10px;
	background-color: #1e0d3d;
	font-weight: 100;
	padding: 8px;
	font-family: oswald;
	letter-spacing: 2px;
	color: white;
	border-radius: 20px;
}


.contact__box{
	border: solid 2px #1e0d3d;
	border-radius: 10px;
	margin-top: 15px;


}

.contact__check{
	margin-top: 15px;
	font-family: montserrat;
}
/* Página QUIENES SOMOS */

.quienes__p{
	font-family: montserrat;
	font-weight: 300;
	padding: 20px;
	font-size: 18px;
}
.quienes__ul{
	text-align: center;
	padding: 0 30px;
}

/* Página BLOG */

.flex__blog{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;

}
.img__blog{
	width: 500px;
	border-radius: 10px;
	margin: 50px 0px;


}

.titulo__blog{
	font-family: montserrat;
	font-size: 25px;
	padding: 0px 50px ;
	color: #0b839c ;


}

.autor__blog{
	font-family: montserrat;
	font-size: 20px;
	padding: 10px 50px ;

}

.resumen__blog{
	font-family: montserrat;
	color: black;
	font-weight: 300;
	padding: 0px 50px ;
}

.leer__blog{
	text-decoration: none;
	color: #0b839c ;

}

@media only screen and (max-width: 768px){
.tamanoCarousel{
	width: 300px;
	margin: auto;
}
.carousel__fondo{
	display: none;
}
.parallax{
padding-top: 40px;

	 /* The image used */

  background-image: url("../assets/img/Estudio.jpg");

  /* Set a specific height */

  height: 150px;

  /* Create the parallax scrolling effect */

  background-attachment: fixed;

  background-position: center;

  background-repeat: no-repeat;

  background-size: cover;

}

.tituloParallax{
	font-family: oswald;
	font-weight: 400;
	text-align: center;
	font-size: 30px;
	color: #fff;
	background-color: rgba(50,200,255,0.8);
}
.paraQueTitulo{
	font-size: 24px;
	padding: 5px;
}

.tituloCreemos{
	padding: 70px;
	font-size: 24px;
}
.creemos__p{
	font-family: spartan;
	font-size: 20px;
	text-align: center;
	margin: auto;
	font-weight: 100;
	padding: 0 10px;

}

.conoceP{
	font-family: monsterrat;
	font-size: 20px;
	padding: 0 10px;
	color: white;
	text-align: center;
}
.programasAval{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 0 30px ;
}
.avales{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.imgAvales{
	width: 200px;
	align-items: center;
	margin: 30px 0;

}

.paraQueSubtitulo{
	text-align: center;
	font-size: 18px;
	padding: 0 30px;

}
.paraQueP{
	text-align: center;
	font-family: montserrat;
	padding: 0 10px;
}

.tituloCreemos{
	margin-top: 30px;
	font-size: 22px;
	background-color: #d6d6d6;
	padding: 5px 0px;
	text-align: center;
}
.creemosEn{
	font-family: montserrat;
	font-size: 18px;
	text-align: center;
	margin: auto;
	padding: 0 20px;

}

.tituloPaginas{
	background-color: rgba(50,200,255,0.2);
	padding: 5px 30px;
	color:#1e0d3d;
	font-weight: 100;
	font-size: 30px;

}

.container__footer{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
}


.copy{
	color: #9e9e9e;
	width: 150px;
}

.linkCopy{
	color:#9486ad ;
	text-align: center;
}

.diseñoP{
	color: #595169;
	width: 150px;
	text-align: center;
	font-size: 12px;


}

.iconos{
	display: flex;
	justify-content: space-evenly;
	width: 150px;
}

.tituloMision{
	padding: 5px 10px;
}


.titulo__blog{
	font-family: montserrat;
	font-size: 25px;
	padding: 0px 10px ;
	color: #0b839c ;


}

.autor__blog{
	font-family: montserrat;
	font-size: 20px;
	padding: 10px 10px ;

}

.resumen__blog{
	font-family: montserrat;
	color: black;
	font-weight: 300;
	padding: 0px 10px ;
}

.leer__blog{
	text-decoration: none;
	color: #0b839c ;

}


.logo__footer{
	margin: 20px 0;
	width: 200px;

}

.footerInfo{
display: flex;
justify-content: center;
}
.iconos{
	display: flex;
	justify-content: space-evenly;
	width: 200px;
}

.iconosFooter{
	color: #0b839c;
	font-size: 25px;
	width: 80px;
	transition-duration: 1s;
	margin-bottom: 30px;
	text-align: center;
}

.iconosFooter:hover {
	color: #74cadb;
}

.tituloPaginas{
	background-color: rgba(50,200,255,0.2);
	padding: 5px 30px;
	color:#1e0d3d;
	font-weight: 100;
	font-size: 35px;

}
.linkCopy{
	
	width: 200px;
	text-align: center;
}
}

@media only screen and (min-width: 769px){
	.quienes__vid{
	width: 500px;
	margin: auto;
	padding: 15px 0;
	
}

.quienes__ul{
	text-align: left;
	padding: 0 30px;
}

.conoceP{
	width: 400px;
	font-size: 40px;
}

.tamanoCarousel{
	margin-right: -90px;
	padding: 0;
}





}